.header h1 {
    text-align: center;
    position: relative;
    font-size: 30px;
}
.header h1::after {
    position: absolute;
    content: "";
    display: block;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 50px;
    height: 4px;
    background: rgb(34, 121, 195);
}
.content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 80px;
}
.product {
    display: flex;
    flex-basis: calc(100% / 3 - 30px);
    justify-content: center;
    column-gap: 20px;
}
.product .product-inner {
    max-width: 250px;
}
.product blockquote {
    margin: 0;
    font-style: italic;
    color: #808080;
}
.product-avt {
    width: 60px;
    height: 60px;
    border-radius: 999px;
    overflow: hidden;
    background: #93dea4;
}
.product-inner .name {
    font-weight: 600;
    color: #666666;
}
img {
    width: 70px;
    height: auto;
}